<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
      rel="stylesheet"
    /> -->

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/ner.css')}}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/jQuery.paginate.js') }}"
    ></script>

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/TextHighlighter.js') }}"
    ></script>
    {% if title %}
    <title>NER Annual Reports - {{title}}</title>
    {% else %}
    <title>NER Annual Reports</title>
    {% endif %}
  </head>
  <body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Company Annual Report</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  href="{{url_for('NER',report_id=report.id)}}"
                  >Named Entity Recognition</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="{{url_for('info_extraction',report_id=report.id)}}"
                  >Information Extraction</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container"></main>
    <div id="content">
      <div class="row">
        <div class="col-md-6">
          <div class="document-render">
            <div
              id="document_content"
              style="overflow-y: scroll; height: 600px"
            >
              {{data|safe}}
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="user-interaction">
            <h4>Interact with users</h4>

            <!-- button to choose action -->
            <div id="dl_highlight" class="colR" style="display: block">
              <div>
                <div style="margin-bottom: 5px">
                  <button type="button" class="btn btn-dark" id="hl_learn">
                    <i class="fa fa-magic"> Label from model</i>
                  </button>
                  <button
                    type="button"
                    class="btn btn-dark"
                    data-toggle="modal"
                    data-target="#div_dl_createtag"
                    id="hl_createtag"
                  >
                    <i class="fa fa-tags"> Create New Tag</i>
                  </button>
                  <button type="button" class="btn btn-dark" id="hl_undo">
                    <i class="fa fa-undo"> Undo highlight</i>
                  </button>
                </div>

                <div style="margin-bottom: 5px">
                  <button type="button" class="btn btn-dark" id="hl_remove">
                    <i class="fa fa-eye-slash"> Remove all highlights</i>
                  </button>
                  <button type="button" class="btn btn-dark" id="hl_accept">
                    <i class="fa fa-check"> Accept</i>
                  </button>
                  <button type="button" class="btn btn-dark" id="hl_reject">
                    <i class="fa fa-close">Reject</i>
                  </button>
                </div>
                <!-- <a class="action" title="Ignore" id="hl_ignore" href="#"
                  ><i class="fa fa-minus-circle">Ignore</i></a
                > -->
              </div>
              <!-- button to choose action -->
              <!-- trying area -->

              <!-- Modal -->
              <div
                class="modal fade"
                id="div_dl_createtag"
                tabindex="-1"
                role="dialog"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                        Create Tag
                      </h5>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <br />
                      <label>Tag Name:</label>
                      <input
                        id="hl_text"
                        type="text"
                        maxlength="32"
                        style="width: 65%; border-width: 1px"
                      /><br />
                      <label>Color:</label>
                      <input id="hl_color" type="color" value="#ff8080" /><br />
                      <br />
                      <input
                        id="createTag_btn"
                        class="my_formbtn"
                        type="submit"
                        value="ADD"
                        data-dismiss="modal"
                      />
                      <br />
                    </div>
                  </div>
                </div>
              </div>

              <!-- color pick, choose tag to mark text for that tag -->
              <div
                class="dropdown-display-label"
                style="overflow-y: scroll; height: 200px"
              >
                <div id="dl_colorpick" class="color-picker dropdown-chose-list">
                  <!-- <div class="hl_dropdown-menu"></div> -->
                </div>
              </div>

              <!-- color pick, choose tag to mark text for that tag -->

              <!-- display "content" -> "tag" -->
              <div
                class="display-content-label"
                style="overflow-y: scroll; height: 300px"
              >
                <table class="table">
                  <thead>
                    <th scope="col">Content</th>
                    <th scope="col">Tag</th>
                  </thead>
                  <tbody class="content-label"></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- for JS function -->
    <script type="text/javascript">
      window.hltr = null; // what is the different between using var hltr and window.hltr
      window.mapTag = {}; // for TextHighlighter
      window.selectedTag = ''; // map timestamp to tag
      window.tag_id = 0;
      window.tags = [];
      window.epicker = document.querySelector('.color-picker');
      window.display_page = null;
      let modal_createTag = document.getElementById('div_dl_createtag');

      // helper functions
      function getBrightness(color) {
        return true;
      }
      function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++)
          color += letters[Math.floor(Math.random() * 16)];
        return color;
      }
      function rgbToHex(rgb) {
        var hex = Number(rgb).toString(16);
        if (hex.length < 2) hex = '0' + hex;
        return hex;
      }
      function fullColorHex(s) {
        //(10,10,20)
        try {
          var s1 = s.indexOf('('),
            s2 = s.indexOf(')');
          var a = s.substring(s1 + 1, s2).split(',');
          return '#' + rgbToHex(a[0]) + rgbToHex(a[1]) + rgbToHex(a[2]);
        } catch {
          return '#000000';
        }
      }

      function hl_removeitem(t) {
        try {
          var h = window.hltr.getHighlights();
          h.forEach(function (e) {
            if (e.getAttribute('data-timestamp') == t) {
              window.hltr.removeHighlight(e);
              try {
                delete window.mapTag[t];
                $('.content-label tr#' + t).remove();
              } catch {}
              return;
            }
          });
        } catch {}
      }
      function get_current_page() {
        console.log('at get_current_page');
        var pages = document.getElementsByClassName('pagination__item');
        for (var i = 0; i < pages.length; i++) {
          page = pages[i];
          if (page.style.display == 'block') {
            window.display_page = page;
          }
        }
      }
      function removeTag(tag) {
        for (const [time, tag_name] of Object.entries(window.mapTag)) {
          if (tag == tag_name) {
            hl_removeitem(time);
          }
        }
        if (window.selectedTag == tag) {
          window.selectedTag = '';
        }
      }
      function createTag(tag_name, color) {
        // get_current_page();
        console.log('at create tag');
        var brighterColor = getBrightness(color) ? '#eeeeee' : '#111111'; // get color for word according to background color
        if (tag_name == '') alert('Tag value cannot be empty!');
        else if (window.tags.includes(tag_name)) alert('Duplicated tag value!');
        else {
          window.tags.push(tag_name);
          window.tag_id += 1;

          var div_dont_know = $(
            '<i class="del"  data-id="' +
              window.tag_id +
              '" style="color:' +
              brighterColor +
              '">'
          );

          var div = $(
            '<span style="background-color:' +
              color +
              '" class="dropdown-selected">'
          )
            .append(
              $('<p style="margin:0px;color:' + brighterColor + '">').text(
                tag_name
              ),
              div_dont_know
            )
            .appendTo($('.color-picker')); // add new tags in the tags lists
          div.click(function () {
            if (color !== epicker.color) {
              window.selectedTag = tag_name;
              epicker.color = color;
              if (epicker.selected) epicker.selected.removeClass('selected');
              epicker.selected = div;
              epicker.selected.addClass('selected');
              if (typeof epicker.callback === 'function') {
                // dont understand that part much
                epicker.callback.call(epicker, color);
              }
            }
          });
          div_dont_know.click(function () {
            var idx = window.tags.indexOf(tag_name);
            if (idx > -1) window.tags.splice(idx, 1);
            removeTag(tag_name);
            div.remove();
          });
          div.trigger('click');
        }
      }
      // end helper functions
      $('#createTag_btn').click(function (e) {
        e.preventDefault();
        var tag_name = $('#hl_text').val();
        var color = $('#hl_color').val();
        modal_createTag.style.display = 'none';
        $('#hl_text').val('');
        $('#hl_color').val(getRandomColor());
        createTag(tag_name, color);
      });
      $('#hl_undo').click(function () {
        function getMax(arr) {
          if (!arr) return null;
          var maxV = arr[0];
          for (a of arr) {
            if (a > maxV) maxV = a;
          }
          return maxV;
        }
        var test = getMax([1, 2, 3]);
        var t = getMax(Object.keys(window.mapTag));
        if (t) {
          hl_removeitem(t);
        }
      });
      var ColorPicker = (function () {
        var COLORS = [];
        function ColorPicker(el) {
          epicker = this;
          epicker.color = COLORS[0];
          epicker.selected = null;
          COLORS.forEach(function (color) {
            window.tag_id += 1;
            if (epicker.color === color) {
              var div = $(
                '<span style="background-color:' +
                  color +
                  '" class="dropdown-selected selected">'
              ).append(
                $('<p style="margin:0px;">').text('unknown'),
                $('<i class="del" data-id="' + window.tag_id + '">')
              );
              epicker.selected = div;
              div.appendTo(el);
            } else {
              var div = $(
                '<span style="background-color:' +
                  color +
                  '" class="dropdown-selected">'
              )
                .append(
                  $('<p style="margin:0px;">').text('unknown'),
                  $('<i class="del" data-id="' + window.tag_id + '">')
                )
                .appendTo(el);
            }
            div.click(function () {
              if (color !== epicker.color) {
                epicker.color = color;
                if (epicker.selected) epicker.selected.removeClass('selected');
                epicker.selected = div;
                epicker.selected.addClass('selected');
                if (typeof epicker.callback === 'function')
                  epicker.callback.call(epicker, color);
              }
            });
          });
        }
        ColorPicker.prototype.onColorChange = function (callback) {
          this.callback = callback;
        };
        return ColorPicker;
      })();
      $(document).ready(function () {
        var removeBtn = document.getElementById('hl_remove'),
          hl_acceptBtn = document.getElementById('hl_accept'),
          hl_rejectBtn = document.getElementById('hl_reject'),
          hl_learn = document.getElementById('hl_learn');
        // hl_ignoreBtn = document.getElementById('hl_ignore');
        get_current_page();
        // var sandbox = window.display_page;
        var sandbox = document.getElementById('document_content');
        var colors = new ColorPicker(document.querySelector('.color-picker'));
        // console.log(sandbox);
        window.hltr = new TextHighlighter(sandbox, {
          onBeforeHighlight: function (range) {
            if (window.selectedTag == '') {
              // alert('Please choose the tag before annotating');
              return false;
            } else {
              return true;
            }
          },
          onAfterHighlight: function (range, highlights) {
            highlights.map(function (h) {
              var time = h.getAttribute('data-timestamp');
              window.mapTag[time] = window.selectedTag;
              var content = h.getAttribute('content');
              var div = $(
                '<tr onclick = "hl_removeitem(' +
                  time +
                  ')" id =' +
                  time +
                  '><td>' +
                  h.innerHTML +
                  '</td><td>' +
                  window.selectedTag +
                  '</td></tr>'
              ).appendTo($('.content-label'));
            });
            //range.extractContents();
            return true;
          },
          onRemoveHighlight: function (hl) {
            return true;
          },
        });
        var serialized = '';
        colors.onColorChange(function (color) {
          window.hltr.setColor(color);
        });
        removeBtn.addEventListener('click', function () {
          window.hltr.removeHighlights();
          $('.content-label tr').remove();
          window.mapTag = {};
        });
        hl_learn.addEventListener('click', function () {
          get_current_page();
          load_original_NER_label(window.display_page);
        });
        function load_original_NER_label(content_page) {
          $.post('/get_original_NER', {
            type: 'post',
            url: '/get_original_NER',
            contentType: 'application/json;charset=UTF-8',
            dataType: 'json',
            data: JSON.stringify({ content: content_page.innerText }),
          }).done(function (q) {
            hl_find_generate_JSON(q.data['res']);
          });
        }
        function load_latest_NER_version(report_id) {
          $.post('/get_latest_NER', {
            type: 'post',
            url: '/get_latest_NER',
            contentType: 'application/json;charset=UTF-8',
            dataType: 'json',
            data: JSON.stringify({ report_id: report_id }),
          }).done(function (q) {
            window.hltr.removeHighlights();
            if (q.status) {
              // if that document has latest NER version
              hl_loadfrom(q.data['res']);
              alert('Latest NER version is found!');
            } else {
              alert('The original version is loaded');
            }
          });
        }

        function confirm_hl(action, original_file, report_id) {
          serialized = window.hltr.serializeHighlights();
          var d = JSON.parse(serialized); // get all highlights in JSON object
          var out = [];
          for (var i = 0; i < d.length; i++) {
            var temp = document.createElement('div');
            temp.innerHTML = d[i][0];
            var time = temp.firstElementChild.getAttribute('data-timestamp');
            var color_origin = temp.firstElementChild.getAttribute('style');
            color_origin = color_origin
              .replace('background-color:', '')
              .replace(';', '');
            if (!color_origin.includes('#'))
              color_origin = fullColorHex(color_origin);
            var res = {
              content: d[i][1],
              path: d[i][2],
              offset: d[i][3],
              length: d[i][4],
              timestamp: time,
              tag: window.mapTag[time], // map tag with timestamp
              color: color_origin,
            };
            out.push(res);
          }
          $.post('/confirm_NER', {
            type: 'post',
            url: '/confirm_NER',
            contentType: 'application/json;charset=UTF-8',
            dataType: 'json',
            data: JSON.stringify({
              res: out,
              action: action,
              original_file: original_file,
              report_id: report_id,
            }),
          });
        }

        // d = [{'content': 'South America', 'tag': 'LOC', 'color': '#2DC477'}, {'content': 'United States', 'tag': 'GPE', 'color': '#AC10D6'}];
        function hl_find_generate_JSON(d) {
          window.tag_id = 0;
          window.tags = [];
          window.mapTag = {}; // for TextHighlighter
          window.selectedTag = ''; // map timestamp to tag
          $('.color-picker').empty();
          $('.content-label tr').remove();
          contentSet = [];
          objectSet = [];

          d.forEach(createSetObject);
          function createSetObject(object) {
            if (!contentSet.includes(object.content)) {
              contentSet.push(object.content);
              objectSet.push(object);
            }
          }

          objectSet.sort((a, b) =>
            a.content.length < b.content.length
              ? 1
              : a.content.length > b.content.length
              ? -1
              : 0
          );
          for (var i = 0; i < objectSet.length; i++) {
            for (var j = 0; j < i; j++) {
              if (objectSet[j].content.includes(objectSet[i].content)) {
                objectSet.splice(i, 1);
              }
            }
          }
          // console.log(objectSet);

          objectSet.forEach(markEachEntity);
          function markEachEntity(object) {
            if (!window.tags.includes(object.tag) && object.tag != '') {
              createTag(object.tag, object.color);
            }
            window.selectedTag = object.tag;
            try {
              console.log('finding ' + object.content);
              window.hltr.find(object.content, true);
            } catch (e) {
              console.log(object.content);
            }
            console.log(object.content);
          }
        }

        /*d = [{"timestamp":"1624010980537", "content":'amet', "path":"1", "offset":22, "length":4, "color":"#ffff7b", "tag":"label1"}, ];*/
        function hl_loadfrom(d) {
          //var d = [['<span class="highlighted" data-timestamp="1624010980537" style="background-color: rgb(255, 255, 123);" data-highlighted="true"></span>', 'gue i', '3:3', 14, 5]];
          arr = [];
          window.tag_id = 0;
          window.tags = [];
          window.mapTag = {}; // for TextHighlighter
          window.selectedTag = ''; // map timestamp to tag
          $('.color-picker').empty();
          $('.content-label tr').remove();
          console.log(d);
          $.each(d, function (k, v) {
            //highlight step
            var s = [
              '<span class="highlighted" data-timestamp="' +
                v.timestamp +
                '" onclick="hl_removeitem(' +
                v.timestamp +
                ')" style="background-color: ' +
                v.color +
                ';" data-highlighted="true"></span>',
              v.content,
              v.path,
              v.offset,
              v.length,
            ];
            arr.push(s);
            window.mapTag[v.timestamp] = v.tag;
            window.selectedTag = v.tag;
            // create tags
            if (!window.tags.includes(v.tag) && v.tag) {
              createTag(v.tag, v.color);
            }

            // update table word tags
            var div_table = $(
              '<tr onclick = "hl_removeitem(' +
                v.timestamp +
                ')" id =' +
                v.timestamp +
                '><td>' +
                v.content +
                '</td><td>' +
                v.tag +
                '</td></tr>'
            ).appendTo($('.content-label'));
          });
          var s = JSON.stringify(arr);
          window.hltr.removeHighlights();
          window.hltr.deserializeHighlights(s);
        }
        // $('#pagination-1').paginate({
        //   items_per_page: 1,
        // });
        hl_acceptBtn.addEventListener('click', function () {
          // confirm_hl('accept', '{{original_file}}', '{{report.id}}');
          serialized = window.hltr.serializeHighlights();
          var d = JSON.parse(serialized); // get all highlights in JSON object
          var out = [];
          for (var i = 0; i < d.length; i++) {
            // Array(5)
            // 0: "<span class=\"highlighted\" data-timestamp=\"1636008148149\" onclick=\"hl_removeitem('1636008148149')\" style=\"background-color: rgb(255, 128, 128);\" data-highlighted=\"true\"></span>"
            // 1: "CHAN"
            // 2: "12:0:1"
            // 3: 17
            // 4: 4
            var temp = document.createElement('div');
            temp.innerHTML = d[i][0];
            var time = temp.firstElementChild.getAttribute('data-timestamp');
            var color_origin = temp.firstElementChild.getAttribute('style');
            color_origin = color_origin
              .replace('background-color:', '')
              .replace(';', '');
            if (!color_origin.includes('#'))
              color_origin = fullColorHex(color_origin);
            var res = {
              content: d[i][1],
              path: d[i][2],
              offset: d[i][3],
              length: d[i][4],
              timestamp: time,
              tag: window.mapTag[time], // map tag with timestamp
              color: color_origin,
            };
            out.push(res);
          }
          $.post('/confirm_NER', {
            type: 'post',
            url: '/confirm_NER',
            contentType: 'application/json;charset=UTF-8',
            dataType: 'json',
            data: JSON.stringify({
              res: out,
              action: 'accept',
              original_file: '{{original_file}}',
              report_id: '{{report.id}}',
            }),
          }).done(function (q) {
            alert('Your annotation has been successfully accepted!');
          });
        });
        hl_rejectBtn.addEventListener('click', function () {
          load_latest_NER_version('{{report.id}}');
        });
        // load_latest_NER_version('{{report.id}}');

        // hl_ignoreBtn.addEventListener('click', function () {
        //   confirm_hl('ignore', '{{original_file}}', '{{report.id}}');
        // });
      });
    </script>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </body>
  <!-- SCRIPTS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script
    type="text/javascript"
    src="{{ url_for('static', filename='js/jQuery.paginate.js') }}"
  ></script>
  <script>
    $('#pagination-1').paginate({
      items_per_page: 1,
    });
  </script>
</html>
